#container {
  position: absolute;
  height:500px;
  width: 500px;
}

img {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 10%;
}

#controls {
  position: relative;
  text-align: center;
}