img {
  position: absolute;
  height: 500px;
  width: 500px;
  opacity: 0.0;
}

#container {
  position: absolute;
  height:500px;
  width: 500px;
}

#controls {
  position:relative;
  top: 0;
  right: 0;
}